<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Event Management System</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
                @if (User.IsInRole("dgslaw\\ems_scheduling") || User.IsHospitality())
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Administration", "Administration", "Home")</li>
                    </ul>
                }
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-text">Hello, @(Helpers.GetUser(User.Identity).firstName)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer></footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrapdatetimepicker")
    @Scripts.Render("~/bundles/emsscript")
    @RenderSection("scripts", required: false)
</body>
</html>
